.DS_Store
ShotOnIphone.xcodeproj/project.xcworkspace/xcuserdata/robert-hein.xcuserdatad/UserInterfaceState.xcuserstate
ShotOnIphone.xcodeproj/xcuserdata/robert-hein.xcuserdatad/xcschemes/xcschememanagement.plist
